@media screen and (max-width: 992px) {
    .start-order {
        margin-top: 80px;
    }

    .mobile-heading {
        h3 {
            color: $dark-grey;
            font-size: 20px;
        }
    }

    .arizona-sandwich-banner {
        .mobile-search-container {
            position: absolute;
            top: 63px;
            box-shadow: 0 0 10px 2px $light-grey;
            z-index: 1;
        }

    }
}