@media screen and (max-width: 992px) {
    .start-order {
        margin-top: 80px;
    }

    .mobile-heading {
        h3 {
            color: $dark-grey;
            font-size: 20px;
        }
    }


}