.checkout-pages {
    // .delivery-info {
    //     margin-top: 0;
    // }

    .custom-control-label {
        line-height: 34px;
        padding-left: 12px;

        &::before {
            width: 24px;
            height: 24px;
        }

        &::after {
            width: 24px;
            height: 24px;
        }
    }

    .guest-details {
        padding: 30px;

        .nav-pills {
            .nav-item {
                .nav-link {
                    color: $grey;
                    font-weight: 600;
                    font-size: 16px;
                }

                .active {
                    background: $brown;
                    color: $white;
                }
            }
        }

        form {
            .form-control {
                background: $fade-grey;
                margin-bottom: 20px;
            }

            .input-group {
                .form-control {
                    border-right: none;
                }

                .input-group-append {
                    .input-group-text {
                        height: 55px;
                        background: $fade-grey;
                        border-left: 0;
                        ;
                    }
                }
            }



            a {
                color: $brown;
                font-size: 16px;
            }

            .btn-submit {
                background: $brown;
                color: $white;
                font-size: 16px;
                font-weight: 600;
                border: 1px solid $brown;

            }

            p {
                font-size: 16px;
                color: $medium-grey;
                margin: 30px 0;
            }

            .btn-fb {
                background: $blue;
            }

            .btn-google {
                background: $light-red;
            }

            .btn {
                color: $white;
                font-size: 16px;
                font-weight: 600;
                padding: 12px 25px;
                margin-right: 20px;

                img {
                    margin-right: 10px;
                }
            }

            .forgot-password {
                color: $brown;
                font-size: 16px;
            }

            .custom-checkbox {
                font-size: 16px;
                color: $medium-grey;
            }
        }

        .guest-form {


            .btn {
                color: $brown;
                font-weight: 600;
            }
        }
    }


    .checkout-inner-container {
        border-radius: 5px;
        box-shadow: 0px 0px 4px 2px $light-grey;

        label {
            margin-bottom: 15px;
        }

        .form-control {
            margin-bottom: 30px;

            height: 55px;

            &::placeholder {
                font-size: 16px;
            }
        }

        select.form-control {
            font-size: 16px;

        }

        .coupon-section {
            border: 2px dashed $light-grey;
            border-radius: 5px;
            margin: 0 20px;
            padding: 25px;
        }

        .coupon-section {
            .coupon-section-inner {
                h3 {
                    font-size: 18px;
                    font-weight: 600;
                }

                .add-trip {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .btn {
                        font-weight: 600;
                        margin-right: 5px;
                    }

                    .active {
                        background: $brown;
                        color: $white;
                    }

                    .input-group {


                        .form-control {
                            background: $fade-grey;
                            height: 55px;
                            margin-bottom: 0;
                        }

                        .input-group-append {
                            .btn {
                                background: $brown;
                                color: $white;
                                height: 55px;
                                border: 1px solid $brown;
                            }
                        }
                    }
                }


            }
        }

        .custom-control-input:checked~.custom-control-label::before {
            border-color: $brown;
            background: $brown;
        }

        .amount-total {
            background: $lightest-grey;
            border-radius: 6px;
            padding: 40px;
        }

        .amount-total {
            .brown {
                color: $brown;
            }

            a {
                margin-left: 20px;
            }

            .total {
                border-top: 2px solid $light-grey;
                margin-top: 20px;
                padding-top: 30px;

                p {
                    font-size: 24px;
                    font-weight: 600;
                }
            }
        }
    }


    h3 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .order-summary {
        h4 {
            font-weight: 600;
            font-size: 18px;
        }

        h5 {
            font-size: 14px;
            color: $medium-grey;
        }

        small {
            font-size: 12px;
            color: $medium-grey;
        }

        .quantity {
            display: flex;

            .btn {
                width: 32px;
                height: 32px;
                background: $brown;
                font-size: 40px;
                padding: 0;
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 100px;

                .minus {
                    margin-top: -5px;
                }
            }

            .form-control {
                height: 32px;
                width: 32px;
                margin: 0 10px;
            }

        }
    }

    .table {
        thead {
            tr {
                th {
                    border: 0;
                    font-weight: normal;
                    font-style: 14px;
                    color: $medium-grey;
                    font-size: 14px;
                    padding: 15px 30px;
                }
            }
        }

        tbody {
            padding: 20px;

            tr {


                td {
                    padding: 30px;

                    .dotted-line {
                        border-bottom: 2px dashed $light-grey;
                        height: 2px;
                        margin-bottom: 15px;
                    }

                    .loyality-points {
                        height: 34px;
                        width: 34px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $brown;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    .btn-outline {
                        border: 1px solid $light-grey;
                        padding: 0;
                        height: 32px;
                        width: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .instructions {
                    p {
                        font-style: italic;
                        font-size: 18px;
                        color: $medium-grey;

                        span {
                            font-size: 14px;
                            display: block;
                        }
                    }
                }
            }
        }
    }

    // Checkout items slider
    .suggest-order-addition {
        h3 {
            font-size: 20px;
        }
    }

    .item-slider {
        .slick-slide {
            padding: 10px;
            margin: 0 5px;
            padding-left: 0;
            padding-right: 0;

            .suggestion-order {
                box-shadow: 0px 0px 4px 2px $fade-grey;
                border-radius: 5px;
                padding: 10px;
                display: flex;
                width: 95%;

                .suggest-img {
                    margin-right: 10px;
                }

                .suggest-content {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    flex: 1;

                    h4 {
                        font-size: 16px;
                        font-weight: 600;
                    }

                    strong {
                        color: $brown;
                    }

                    .earn-points {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;


                        p {
                            font-size: 14px;
                            margin-top: 10px;

                            .points-circle {
                                height: 32px;
                                width: 32px;
                                box-shadow: none;
                                border-radius: 50%;
                                display: inline-block;
                                padding: 0;
                                text-align: center;
                                line-height: 30px;
                                color: $white;
                            }
                        }

                        .btn {
                            height: 34px;
                            width: 34px;
                            background: $brown;
                            font-size: 60px;
                            padding: 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .range-section {
        padding: 40px 0;

        .btn {
            font-size: 16px;
            color: $white;
            font-weight: 600;
        }

        .unlock-items {
            background: $light-grey;
        }
    }

    .unlock-rewards {
        padding: 30px;
        background: $fade-grey;

        .suggestion-order {
            background: $white;
        }
    }

    .proceed-payment {
        background: $brown;
        color: $white;
        font-size: 16px;
        font-weight: 900;

    }

    .custom-tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;

        .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
        }

        &:hover .tooltiptext {
            visibility: visible;
        }
    }

    /* Tooltip text */

    /* Show the tooltip text when you mouse over the tooltip container */
    .progress {
        overflow: visible;
        margin-bottom: 0px;
        border-radius: 10px;
        height: 18px;

        &:hover {
            .earned-points {
                display: block;
            }
        }


        .progress-bar {
            background-color: $brown;
            position: relative;
            border-radius: 10px;
            z-index: 1;

            span {
                background: $white;
                width: 30px;
                height: 30px;
                display: block;
                position: absolute;
                right: 0;
                border: 2px solid $brown;
                border-radius: 50%;

                &:after {
                    bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(255, 255, 255, 0);
                    border-bottom-color: #5c4084;
                    border-width: 5px;
                    margin-left: -5px;
                }

            }

        }
    }

}

.confirm-payment {
    .items-to-checkout {
        h4 {
            font-size: 18px;
            margin-bottom: 0;
            font-weight: 600;

            span {
                font-weight: 300;
                font-size: 16px;
                margin-left: 20px;
            }
        }

        .btn {
            border: 1px solid $light-grey;
        }
    }



    .guest-details {
        .nav-pills {
            .nav-item {
                .nav-link {
                    svg {
                        margin-right: 5px;

                        path {
                            fill: $brown;
                        }
                    }
                }

                .active {
                    svg {
                        path {
                            fill: $white;
                        }
                    }
                }
            }
        }

        .form-group {
            margin-bottom: 0;
        }

    }

    .saved-cards {
        .table {
            tr {
                th {
                    font-weight: 600;
                }

                td,
                th {
                    padding: 10px !important;
                    font-size: 16px;
                }

                td {
                    color: $grey;
                }
            }
        }
    }

    .btn-submit {
        background: $brown;
        border: 1px solid $brown;
        font-size: 16px;
        padding: 12px 25px;
        font-weight: 600;
    }
}