.checkout-pages {
    .delivery-info {
        margin-top: 0;
    }

    .checkout-inner-container {
        border-radius: 5px;
        box-shadow: 0px 0px 4px 2px $light-grey;

        label {
            margin-bottom: 15px;
        }

        .form-control {
            margin-bottom: 30px;

            height: 55px;

            &::placeholder {
                font-size: 16px;
            }
        }

        select.form-control {
            font-size: 16px;

        }

        .coupon-section {
            border: 2px dashed $light-grey;
            border-radius: 5px;
            margin: 0 20px;
            padding: 25px;
        }

        .coupon-section {
            .coupon-section-inner {
                h3 {
                    font-size: 18px;
                    font-weight: 600;
                }

                .add-trip {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .btn {
                        font-weight: 600;
                        margin-right: 5px;
                    }

                    .active {
                        background: $brown;
                        color: $white;
                    }

                    .input-group {


                        .form-control {
                            background: $fade-grey;
                            height: 55px;
                            margin-bottom: 0;
                        }

                        .input-group-append {
                            .btn {
                                background: $brown;
                                color: $white;
                                height: 55px;
                                border: 1px solid $brown;
                            }
                        }
                    }
                }


            }
        }

        .custom-control-input:checked~.custom-control-label::before {
            border-color: $brown;
            background: $brown;
        }

        .amount-total {
            background: $lightest-grey;
            border-radius: 6px;
            padding: 40px;
        }

        .amount-total {
            .brown {
                color: $brown;
            }

            a {
                margin-left: 20px;
            }

            .total {
                border-top: 2px solid $light-grey;
                margin-top: 20px;
                padding-top: 30px;

                p {
                    font-size: 24px;
                    font-weight: 600;
                }
            }
        }
    }


    h3 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;
    }

    .order-summary {
        h4 {
            font-weight: 600;
            font-size: 18px;
        }

        h5 {
            font-size: 14px;
            color: $light-grey;
        }

        small {
            font-size: 12px;
            color: $light-grey;
        }

        .quantity {
            display: flex;

            .btn {
                width: 32px;
                height: 32px;
                background: $brown;
                font-size: 40px;
                padding: 0;
                color: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 100px;

                .minus {
                    margin-top: -5px;
                }
            }

            .form-control {
                height: 32px;
                width: 32px;
                margin: 0 10px;
            }

        }
    }

    .table {
        thead {
            tr {
                th {
                    border: 0;
                    font-weight: normal;
                    font-style: 14px;
                    color: $medium-grey;
                    font-size: 14px;
                    padding: 15px 30px;
                }
            }
        }

        tbody {
            padding: 20px;

            tr {


                td {
                    padding: 30px;

                    .dotted-line {
                        border-bottom: 2px dashed $light-grey;
                        height: 2px;
                        margin-bottom: 15px;
                    }

                    .loyality-points {
                        height: 34px;
                        width: 34px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $brown;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }

                .instructions {
                    p {
                        font-style: italic;
                        font-size: 18px;
                        color: $medium-grey;

                        span {
                            font-size: 14px;
                            display: block;
                        }
                    }
                }
            }
        }
    }


}