$brown:#9E4122;
$white:#fff;
$light-grey:#D8D8D8;
$common-text:#565656;
$grey:#777777;
$dark-grey:#343434;
$fade-grey:#f5f5f5;
$green:#258E00;
$dark-red:#C72014;
$medium-grey:#A0A0A0;
$lightest-grey:#FCFCFC;
$blue:#3B66C4;
$light-red:#CF4332;
$fade-red:#FFF6F3;