// for  iPad/Tablet Portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    aside {
        .list-group {
            width: 736px;
        }

    }
}

// for  iPad/Tablet Landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    //    Ordering Menu page starts
    aside {
        width: 100%;
        margin-top: 30px;

        .list-group {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            padding-left: 15px;
            padding-right: 15px;
            border-top: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey;
            white-space: nowrap;
            overflow-y: hidden;

            .list-group-item {
                max-width: 200px;

                .list-group-item-action {
                    padding: 20px;
                    color: $brown;

                }
            }
        }

        .block-stacked {
            margin-top: 50px;

            button {
                width: 100%;
                font-size: 20px;
            }
        }

        .btn-blocks {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;

            .btn {
                margin-bottom: 0;
                width: 30%;
            }

            .btn-block {
                margin-top: 0;
            }
        }
    }

    .arizona-sandwich-banner {
        height: 75px;
        display: flex;
        align-items: center;

        .arz-sandwich-logo {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 117px;
            top: 18px;
        }

        .mobile-Nav {
            padding: 0;

            .btn-group {
                width: 20px;
                height: 20px;
            }

        }

        .mobile-search-container {
            position: absolute;
            top: 63px;
            box-shadow: 0 0 10px 2px $light-grey;
            z-index: 1;
        }

    }

    .ordering-option {
        h3 {
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 20px;
        }

        select {
            font-size: 16px;
        }
    }

    .right-side {
        padding: 0 20px;
        margin-top: 70px;


        .alert-text {
            background: $fade-grey;
            position: relative;

            p {
                span {
                    display: block;
                    font-size: 18px;
                    margin-bottom: 15px;
                }


            }

            a {
                position: absolute;
                right: 20px;
                top: 10px;
                font-size: 25px;
                color: $brown;
                text-decoration: none;
            }

            .close {
                opacity: 1;
            }
        }

        .delivery-info {
            margin-top: 0px;
            box-shadow: none !important;
        }

        .items-section {
            .burger-banner {
                padding: 0 1rem;
                ;

                img {
                    width: 100%;
                }
            }
        }

        .items-section {
            .item {
                img {
                    width: 100%;
                }
            }
        }
    }

    // Orderging Menu Page ends


    .custom-width-modal {
        .modal-body {
            .close {
                margin-bottom: 15px;

            }
        }
    }

    .location-status-map {
        padding: 20px;

        .location-container {
            height: auto;

            .location {

                .open-time,
                .close-time {
                    margin-bottom: 20px;
                }
            }
        }
    }

    .map-area {
        display: none;
    }

    .start-order {
        .time-section {
            margin-left: 12px;
            margin-right: 12px;
            box-shadow: 0 0 4px 2px $fade-grey;
        }
    }


    .modal-body {
        padding-bottom: 10px;

        .close {
            opacity: 1;
            position: absolute !important;
            z-index: 1;
        }
    }

    .cart-section {
        .cart-inner {
            box-shadow: none;
            padding: 0;

            .checkout {
                border-radius: 6px;
                padding: 12px;
            }
        }
    }

}