@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    aside {
        width: 100%;

        .block-stacked {
            margin-top: 50px;

            button {
                width: 100%;
                font-size: 20px;
            }
        }

        .list-group {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            // position: absolute;
            padding-left: 15px;
            padding-right: 15px;
            border-top: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey;
            white-space: nowrap;

            .list-group-item {
                max-width: 200px;

                .list-group-item-action {
                    padding: 20px;
                    color: $brown;

                }
            }
        }
    }

    .arizona-sandwich-banner {
        height: 100px;

        .arz-sandwich-logo {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 117px;
            top: 35px;
        }

        .mobile-Nav {
            padding: 0;

        }
    }

    .right-side {
        padding-left: 15px;
        padding-right: 15px;

        .delivery-info {
            margin-top: 50px;
        }

        .items-section {
            .item {
                img {
                    width: 100%;
                }
            }
        }

        .cart-section {
            padding: 0 15px;
        }

    }


}