@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    aside {
        width: 100%;

        .list-group {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            // position: absolute;
            padding-left: 15px;
            padding-right: 15px;
            border-top: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey;
            white-space: nowrap;
            overflow-y: hidden;

            .list-group-item {
                height: 60px;
                display: flex;
                align-items: center;

                .list-group-item-action {
                    padding: 20px 15px;
                    color: $brown;

                }
            }
        }

        .btn-blocks {
            margin-top: 80px;
            display: flex;
            justify-content: space-between;

            .btn-block {
                margin: 0;
                width: 30%;
            }
        }
    }

    .arizona-sandwich-banner {
        height: 75px;
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        .arz-sandwich-logo {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 66px !important;
            top: 32px;


        }

        .mobile-search-container {
            position: absolute;
            top: 63px;
            box-shadow: 0 0 10px 2px $light-grey;
            z-index: 1;
        }

    }

    .ordering-option {
        h3 {
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 20px;
        }

        select {
            font-size: 16px;
        }
    }

    .right-side {
        padding-left: 15px;
        padding-right: 15px;

        .top-spacing {
            margin-top: 35px;
        }

        .alert-text {

            position: relative;

            p {
                span {
                    display: block;
                    font-size: 18px;
                    margin-bottom: 15px;
                }


            }

            a {
                position: absolute;
                right: 20px;
                top: 10px;
                font-size: 25px;
                color: $brown;
                text-decoration: none;
            }

        }

        .delivery-info {
            margin-top: 0px;
            box-shadow: none !important;
        }

        .items-section {
            .item {
                display: flex;
                margin-bottom: 15px;

                .item-img {
                    margin-right: 15px;
                    width: 150px;



                    .badge {

                        background: $fade-grey;
                        width: 60px;
                        margin: 10px auto 0;
                        border-radius: 20px;
                        font-size: 13px;
                        font-weight: normal;
                    }
                }

                .item-title-block {
                    .item-title {
                        display: flex;
                        justify-content: space-between;

                        h5 {
                            margin-top: 0;
                        }

                        span {
                            color: $brown;
                            font-weight: 600;
                            font-size: 16px;
                        }
                    }
                }
            }
        }

        .cart-section {
            padding: 0 15px;
        }

    }

    .custom-width-modal {
        .modal-body {
            .close {
                opacity: 1;
                margin-bottom: 15px;
                position: static !important;
            }
        }
    }

    .rewards-modal {
        .table {
            box-shadow: none !important;

            th,
            td {
                border-top: 1px solid #e9e9e9;
                font-size: 14px;
                border-bottom: 0;
            }

            th {
                color: $grey !important;
                opacity: .7;
            }
        }
    }

    // Start order page starts
    .start-order {
        .pickup-delivery {
            .pickup-delivery-box {
                margin: 5px;
                padding: 15px;

                .icon-holder {
                    margin-bottom: 15px;
                    height: 50px;
                    width: 50px;

                    img {
                        width: 25px;
                    }
                }

                h3 {
                    font-size: 20px;
                }
            }
        }

        .time-date-section {
            box-shadow: none;
            padding: 0;

            .time-section {
                margin-left: 10px;
                margin-right: 10px;
                box-shadow: 0 0 4px 2px $fade-grey;


                .select-time {
                    text-align: center;
                    padding-top: 15px;
                    padding-bottom: 15px;

                    label {
                        text-align: center;
                        margin: auto;
                    }


                    .custom-control {
                        display: none;
                    }
                }
            }

            .slick-arrow {
                padding-left: 10px;
                padding-right: 10px;
            }
        }

        .policy-terms {
            .nav-link {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }

    // footer 



    .location-status-map {
        padding: 15px;

        .location-container {
            height: auto;

            .location {
                .location-left {
                    h3 {
                        font-size: 18px;
                    }

                    h4 {
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 15px;
                    }
                }

                .location-right {
                    max-width: 100%;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }

    .map-area {
        display: none;
    }

    #cartModal {
        .close {
            position: absolute !important;
            right: 20px;
            top: 20px;

        }

        .modal-body {
            padding-bottom: 10px;
        }

        .cart-inner {
            box-shadow: none;
            padding: 0;

            .checkout {
                border-radius: 6px;
                padding: 12px;
            }
        }
    }
}