@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    aside {
        .list-group {
            width: 736px;
        }

    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    //    Ordering Menu page starts
    aside {
        width: 100%;
        margin-top: 30px;

        .list-group {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            padding-left: 15px;
            padding-right: 15px;
            border-top: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey;
            white-space: nowrap;
            overflow-y: hidden;

            .list-group-item {
                max-width: 200px;

                .list-group-item-action {
                    padding: 20px;
                    color: $brown;

                }
            }
        }

        .block-stacked {
            margin-top: 50px;

            button {
                width: 100%;
                font-size: 20px;
            }
        }

        .btn-blocks {
            margin-top: 50px;
            display: flex;
            justify-content: space-between;

            .btn {
                margin-bottom: 0;
                width: 30%;
            }

            .btn-block {
                margin-top: 0;
            }
        }
    }

    .arizona-sandwich-banner {
        height: 100px;

        .arz-sandwich-logo {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 117px;
            top: 35px;
        }

        .mobile-Nav {
            padding: 0;

        }
    }

    .right-side {
        padding: 0 20px;

        .alert-text {
            background: $fade-grey;
            position: relative;

            p {
                span {
                    display: block;
                    font-size: 18px;
                    margin-bottom: 15px;
                }


            }

            a {
                position: absolute;
                right: 20px;
                top: 10px;
                font-size: 25px;
                color: $brown;
                text-decoration: none;
            }
        }

        .delivery-info {
            margin-top: 40px;
        }

        .items-section {
            .burger-banner {
                padding: 0 1rem;
                ;

                img {
                    width: 100%;
                }
            }
        }

        .items-section {
            .item {
                img {
                    width: 100%;
                }
            }
        }
    }

    // Orderging Menu Page ends
}