@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    aside {
        width: 100%;

        .list-group {
            display: flex;
            flex-direction: row;
            overflow-x: scroll;
            // position: absolute;
            padding-left: 15px;
            padding-right: 15px;
            border-top: 1px solid $light-grey;
            border-bottom: 1px solid $light-grey;
            white-space: nowrap;
            overflow-y: hidden;

            .list-group-item {
                height: 60px;
                display: flex;
                align-items: center;

                .list-group-item-action {
                    padding: 20px 15px;
                    color: $brown;

                }
            }
        }

        .btn-blocks {
            margin-top: 80px;
            display: flex;
            justify-content: space-between;

            .btn-block {
                margin: 0;
                width: 30%;
            }
        }
    }

    .arizona-sandwich-banner {
        height: 100px;

        .arz-sandwich-logo {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            width: 117px;
            top: 35px;
        }


    }

    .ordering-option {
        h3 {
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 20px;
        }

        select {
            font-size: 16px;
        }
    }

    .right-side {
        padding-left: 15px;
        padding-right: 15px;

        .alert-text {
            background: $fade-grey;
            position: relative;

            p {
                span {
                    display: block;
                    font-size: 18px;
                    margin-bottom: 15px;
                }


            }

            a {
                position: absolute;
                right: 20px;
                top: 10px;
                font-size: 25px;
                color: $brown;
                text-decoration: none;
            }

            .close {
                opacity: 1;
            }
        }

        .delivery-info {
            margin-top: 0px;
            box-shadow: none !important;
        }

        .items-section {
            .item {
                img {
                    width: 100%;
                }
            }
        }

        .cart-section {
            padding: 0 15px;
        }

    }

    .custom-width-modal {
        .modal-body {
            .close {
                opacity: 1;
                margin-bottom: 15px;
                position: static !important;
            }
        }
    }

    .rewards-modal {
        .table {
            box-shadow: none !important;

            th,
            td {
                border-top: 0;
                font-size: 14px;
            }
        }
    }

}