.order-confirmed {
    box-shadow: 0px 0px 4px 2px $light-grey;
    padding: 40px;
    margin-top: -90px;
    border-radius: 5px;
    background: $white;

    .success-wrapper {
        display: flex;
        align-items: center;

        h2 {
            font-size: 30px;
            font-weight: 600;

            span {
                display: block;
                font-weight: 300;
                font-size: 24px;
            }
        }

        .success-check {
            height: 65px;
            width: 65px;
            border-radius: 50%;
            background: $success;
            line-height: 65px;
            text-align: center;
            margin-right: 20px;
        }
    }

    .review-experience {
        p {
            color: $medium-grey;
            margin-bottom: 8px;
        }

        .experience-icons {
            display: flex;
            justify-content: flex-end;

            a {
                height: 36px;
                width: 36px;
                border-radius: 5px;
                background: $fade-grey;
                text-align: center;
                line-height: 36px;
                margin-left: 10px;
            }
        }
    }

    .order-confirmed-content {
        border-top: 1px solid $light-grey;
        padding-top: 40px;

        h4 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        h5 {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .order-left {
            padding: 40px;

            .small-devices-cart-success {
                background: $fade-grey;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
                border-radius: 5px;
                margin-bottom: 30px;

                a {
                    color: $dark-grey;

                    img {
                        margin-left: 10px;
                    }
                }

                p {
                    font-weight: 600;
                }
            }

            h6 {
                font-size: 18px;
                font-weight: 600;

                span {
                    font-size: 14px;
                    font-weight: 300;
                }
            }

            p {
                margin-bottom: 8px;
            }

            .order-status {
                margin-bottom: 50px;



                p {
                    font-size: 14px;
                    margin-bottom: 0;
                }

                a {
                    color: $dark-red;
                    font-weight: 600;
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }

            .order-details {
                margin-bottom: 50px;

                .pickup-bg {
                    background: $success;
                    padding: 0 5px;
                    border-radius: 5px;
                    font-weight: bold;
                    color: $white;

                    span {
                        color: $white;
                    }
                }

                .icon-holder {
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    background: $fade-grey;
                    line-height: 22px;
                    text-align: center;
                    margin-right: 10px;
                }

                p {
                    span {
                        color: $medium-grey;
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}

// Order History Starts

.order-history {
    padding: 40px 50px;

    .order-history-card {
        background: $fade-grey;
        padding: 20px;
        border-radius: 5px;
        color: $dark-grey;

        h3 {
            font-size: 20px;
            display: flex;
            align-items: center;
            // font-weight: 600; 

            span {
                font-size: 16px;
                font-weight: 300;
                margin-left: 10px;
            }
        }

        .date {

            font-size: 18px;
        }

        p {
            margin-bottom: 0;
        }

        small {
            font-size: 16px;
            font-weight: 300;
            margin-bottom: 3px;
            display: block;

        }

        strong {
            font-size: 20px;
            background: $white;
            padding: 10px 20px;
            border-radius: 5px;
        }

        h4 {
            font-size: 18px;
        }

        .repeat-order {
            color: $brown;

            svg {
                margin-right: 5px;
            }
        }
    }

    .btn-outline {
        border: 2px solid $brown;
        color: $brown;
        font-size: 16px;
        font-weight: 600;

        &:hover {
            background: $brown;
            color: $white;
        }
    }
}



//  right side cart including Modal Car for iPad amd Mobile

#successModal {
    .close {
        opacity: 1;
    }
}

.order-right {
    background: $fade-grey;
    border-radius: 5px;

    p {
        font-size: 16px;
        color: $grey;
        margin-bottom: 0;
    }

    span {
        font-size: 14px;
        color: $medium-grey;
    }

    small {
        font-size: 12px;
        color: $medium-grey;
    }

    .special-inst {
        border-top: 2px dashed $light-grey;
        font-style: italic;
        font-style: 16px;
        padding-top: 15px;
        color: $medium-grey;

        span {
            font-size: 12px;
        }
    }

    .price {
        font-size: 16px;
        color: $medium-grey;

        strong {
            color: $dark-grey;
        }
    }

    .accordion {
        margin-top: 40px;

        .card {
            border: none;
            margin-bottom: 20px;
            padding: 20px;

            .price-right {
                margin-right: 50px;
            }

            h2 {
                display: flex;
                font-weight: 600;
                padding: 10px 0;

                justify-content: space-between;
                background: url(../images/caret-top.png) no-repeat calc(100% - 10px) center;
                background-size: 20px;
                cursor: pointer;
                font-size: 18px;

                &.collapsed {
                    background-image: url(../images/caret-bottom.png);
                }

                span {
                    color: $dark-grey;
                    font-size: 20px;
                }
            }

            .card-body {
                padding: 0;
                padding-top: 20px;
                border-top: 1px solid $light-grey;

                p {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 0;

                    span {
                        font-size: 16px;
                        color: $dark-grey;
                    }
                }

                .coupon-code {
                    span {
                        color: $dark-red;
                    }
                }
            }
        }
    }
}

#successModal {
    .order-right {
        background: transparent;

        .accordion {
            .card {
                background: $fade-grey;
            }
        }
    }
}