@import "customVariables";
@import "font";
@import "orderingMenu";
@import "mediaBigScreen";
@import "mediaTablet";
@import "mediaMobile";

// @import "fontFamily;";


// Will go into global.SCSS later
.arizona-sandwich-banner {
    background: $brown;

    h3 {
        color: $white;
        font-weight: 600;
    }

    .arz-sandwich-logo {
        width: 240px;
        text-align: center;
    }
}