@import "customVariables";
@import "font";
@import "mediaBigScreen";
@import "mediaMobile";

// @import "fontFamily;";


// Will go into global.SCSS later
.arizona-sandwich-banner {
    background: $brown;

    h3 {
        color: $white;
        font-weight: 600;
    }
}

aside {
    width: 240px;


    .block-stacked {
        button {
            font-weight: bold;
            width: 48%;
        }

        .btn-brown {
            background: $brown;
            color: $white;

        }
    }

    .btn-blocks {
        button {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;
            box-shadow: 0px 0px 5px 3px $light-grey;
            color: $dark-grey;

        }


    }

    .left-listing {


        .form-control {
            border: 0;
            border-bottom: 1px solid $light-grey;

            // &:focus {}
        }

        .input-group-append {
            .input-group-text {
                background: none;
                border: none;
                border-bottom: 1px solid $light-grey;
            }
        }

        .list-group {
            .list-group-item {


                .active {
                    font-weight: bold;
                }
            }
        }
    }

}

.right-side {
    padding: 0 40px;


    .delivery-info {
        // box-shadow: 0px 0px 5px 3px $light-grey;
        background: $white;
        border-radius: 6px;
        color: $common-text;
        margin-top: -90px;

        h4 {
            font-size: 18px;
            font-weight: 900;
        }

        p {
            margin-bottom: 0;
            line-height: 22px;
        }

        .btn {
            border: 1px solid $light-grey;
        }

    }

    .alert-text {
        p {
            margin: 0;

            span {
                color: $brown;
            }
        }
    }

    .items-section {
        .burger-banner {

            img {
                position: relative;
            }

            h4 {
                font-weight: 600;
                font-size: 24px;
                position: absolute;
                bottom: 15px;
                left: 40px;
                color: $white;
            }
        }

        .item {
            width: auto;
            box-shadow: 0px 0px 5px 3px $light-grey;
            padding: 15px;
            margin-bottom: 30px;
            border-radius: 6px;

            h5 {
                font-size: 15px;
                color: $common-text;
                font-weight: 600;
                margin: 15px 0 10px;
            }

            p {
                font-size: 14px;
                font-weight: 100x;
                color: $grey;
                line-height: normal;
                font-weight: 100;

            }

            .item-price-section {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                strong {
                    color: $brown;
                }

                p {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 0;
                }


                .btn {
                    background: $brown;
                    font-size: 60px;
                    color: $white;
                    height: 34px;
                    width: 34px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 100;


                }

            }
        }
    }

    .cart-section {

        padding: 0 20px;

        .cart-inner {
            box-shadow: 0px 0px 5px 3px $light-grey;
            padding: 30px;
            border-radius: 8;


            h4 {
                font-size: 20px;
                font-weight: 500;
                margin-bottom: 30px;
            }

            .two-col {

                border-bottom: 2px dashed $light-grey;
                padding: 15px 0;

                .add-ons-container {
                    h5 {
                        font-weight: 500;
                        font-size: 16px;
                        margin-bottom: 15px;

                    }

                    strong {
                        font-size: 16px;
                    }
                }

                .add-ons {
                    display: flex;
                    justify-content: space-between;



                    .cart-desc-align {
                        display: flex;

                        .form-control {
                            width: 22px;
                            height: 22px;
                            margin: 0 5px;
                            text-align: center;
                            padding: 0;
                        }

                        .btn {
                            width: 22px;
                            height: 22px;
                            display: flex;
                            align-items: center;
                            background: $brown;
                            justify-content: center;
                            color: $white;
                            font-size: 30px;

                        }
                    }
                }

                .title-price-holder {
                    display: flex;
                    justify-content: space-between;

                    .form-control {
                        width: 22px;
                        height: 22px;
                        margin: 0 5px;
                        text-align: center;
                        padding: 0;
                    }

                    .btn {
                        width: 22px;
                        height: 22px;
                        display: flex;
                        align-items: center;
                        background: $brown;
                        justify-content: center;
                        color: $white;
                        font-size: 30px;

                    }

                    .add-remove-items {
                        display: flex;

                        .form-control {
                            margin: 0 5px
                        }
                    }

                    .edit-item {
                        height: 22px;
                        width: 22px;
                        background: $white;
                        border: 1px solid $light-grey;

                        img {
                            width: 10px;
                        }
                    }
                }
            }

            .flat-border {
                border-bottom: 1px solid $light-grey;
                color: $common-text;

                .cart-desc {

                    p {
                        font-size: 14px;
                    }

                    small {
                        font-size: 12px;
                    }

                    h5 {
                        font-size: 16px;
                        margin-bottom: 0;
                    }

                    .add-ons {
                        .price {
                            font-size: 16px;
                        }
                    }

                    .total {
                        h5 {
                            font-size: 18px;
                        }

                        .price {
                            font-size: 18px;
                        }
                    }

                }
            }

            .checkout {
                background: $brown;
                color: $white;
                font-weight: bold;
                font-size: 16px;
                border-radius: 0;
                padding: 20px;
                -webkit-border-bottom-right-radius: 8px;
                -webkit-border-bottom-left-radius: 8px;
                -moz-border-radius-bottomright: 8px;
                -moz-border-radius-bottomleft: 8px;
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
            }
        }
    }

}